# FastAPI
fastapi
uvicorn

# LangChain (modular)
langchain
langchain-community
#langchain-openai
langchain-text-splitters
#langchain-ollama

# Vector DB
faiss-cpu

# PDF parsing
pypdf


# Env
python-dotenv

# Core
numpy
SQLAlchemy
tenacity
